<div class="row">
    <div class="col-lg-8">
        <form #f="ngForm">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <button class="btn btn-success" (click)="addCompany()">Add Grupo de Modulos</button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-default" (click)="editGroupModule()">Edit</button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-danger" (click)="removeGroupModule()">Delete</button>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <table class="table table-striped">
                            <thead>
                                <th>Name</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let gp of groupModules; let i = index;">
                                    <td [ngClass]="{'setSelected': selectedGroupModule && selectedGroupModule.id === gp.id}" (click)="setSelected(gp)" >{{gp.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<router-outlet></router-outlet>