<div class="panel panel-default">
    <div class="panel-heading">Grupos De Modulos</div>
    <div class="panel-body">
        <div class="row">
            <div class=" col-lg-12">
                <form #f="ngForm">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input [(ngModel)]="groupModule.name" name="groupModule.name" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-success" (click)="save(groupModule)">Register</button>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-default" (click)="goBack()">back</button>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" (click)="modalOpen()" class="btn btn-primary">add Modules</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<app-modal #modal>
    <div class="app-modal-header">
        Adicione os Modulos para o Grupo
    </div>
    <div class="app-modal-body">
        <form #f="ngForm">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input [(ngModel)]="groupModule.name" name="groupModule.name" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.hide()">Close</button>
        <button type="button" class="btn btn-success">confirmar</button>
    </div>
</app-modal>-->