<div class="panel panel-default">
    <div class="panel-heading">Group Module</div>
    <div class="panel-body">
        <div class="row">
            <div class=" col-lg-12">
                <form #f="ngForm">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input [(ngModel)]="groupModule.name" name="groupModule.name" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="email">Phantasy Name:</label>
                                <input [(ngModel)]="groupModule.phantasyName" name="groupModule.phantasyName" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="groupModule.country">Country</label>
                                <input [(ngModel)]="groupModule.country" name="groupModule.country" type="text" class="form-control" id="groupModule.country">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-success" (click)="save(groupModule)">Register</button>
                        </div>
                        <div class="col-lg-10">
                            <button type="button" class="btn btn-default" (click)="goBack()">back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>